* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  padding-bottom: 0.4rem;
  position: relative;

  transition: after ease 2s;
}
/*
a::after {
  content: "";

  height: 2px;
  width: 1.25rem;
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  border-radius: 25px;
}*/

a::after {
  content: "";

  height: 3px;
  width: 1.5rem;
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  border-radius: 20px;
  opacity: 0;

  transition: ease-in 0.3s;
}

a:hover::after {
  opacity: 1;
}

li {
  list-style: none;
}

:root {
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --gray: hsl(0, 0%, 55%);
  --darkGray: hsl(0, 0%, 41%);
}

.container {
  width: 100%;
}

.container > header {
  width: 100%;
  height: 100vh;
  position: relative;

  background: url(/images/desktop/image-hero.jpg) no-repeat center center fixed;
  background-size: cover;
  background-position: center center;
  background-attachment: scroll; /*Rola a imamgem quando o scroll da tela é rolado*/

  color: var(--white);
}

header > section {
  height: 100%;
  width: 100%;
  max-width: 1440px;

  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;

  margin: 0 auto;
  position: relative;
}

header > section > nav {
  display: flex;

  flex: 1;
  width: 100%;

  position: absolute;
  top: 8%;

  margin: 0 auto;
  padding: 1.5rem 4rem;

  justify-content: space-between;
  align-items: center;
}

header > section > nav > h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2.25rem;
}

nav ul {
  display: flex;
  flex: 1;
  max-width: 50%;
  justify-content: space-around;
}

ul li a {
  font-family: "Josefin Sans", sans-serif;
  color: var(--white);
}

.slogan {
  width: 100%;
  padding: 2rem;
  max-width: 675px;

  justify-content: center;
  margin-left: 4rem;

  font-family: "Josefin Sans", sans-serif;
  font-weight: 200;
  text-transform: uppercase;
  font-size: 4.5rem;

  border: 1px solid var(--white);
}

main {
  height: 90vh;
  width: 100%;
}

main > section {
  height: 100%;
  width: 100%;
  max-width: 1440px;

  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 0 4rem;
}
main > section > div {
  width: 100%;
  position: relative;
}

.text {
  background-color: var(--white);
  max-width: 580px;
  height: 320px;

  position: absolute;
  bottom: 0;
  left: 42%;

  padding-left: 4rem;
  padding-bottom: 0.5rem;
  padding-right: 2.25rem;

  justify-content: flex-end;
  display: flex;
  text-align: left;
  flex-direction: column;
}

.text h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 3rem;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.text p {
  font-family: "Alata", sans-serif;
  font-weight: 300;
  line-height: 1.65rem;
  color: var(--gray);
}

.creationsContainer {
  height: 100%;
  width: 100%;
  max-width: 1440px;

  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 4rem;
  text-transform: uppercase;
}

.creationsContainer > header {
  width: 100%;
  height: 5rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 1rem;
}

.creationsContainer > header > h1 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-size: 3rem;
}

.creationsContainer > header > button {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;

  background-color: var(--white);

  border: 1px solid var(--black);
  padding: 0.75rem 2.5rem;

  cursor: pointer;
  transition: 0.3s;
}

.creationsContainer > header > button:hover {
  background-color: var(--black);
  color: var(--white);
}

.creations {
  width: 100%;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(256px, 1fr));
  align-content: space-between;
  gap: 2rem;

  padding: 4rem 0;
  margin-bottom: 5rem;
}

.imgCard {
  display: flex;
  flex-direction: column;

  position: relative;
  cursor: pointer;
}

.imgCard > img {
  transition: opacity 0.3s;
}

.imgCard:hover > img {
  opacity: 0.3;
}

.imgCard:hover > p {
  color: var(--black);
}

.imgCard > p {
  position: absolute;
  left: 15%;
  bottom: 10%;

  color: var(--white);
  font-family: "Alata", sans-serif;
  font-weight: 300;
  line-height: 2.5rem;
  font-size: 2.5rem;

  transition: 0.3s;
}

footer {
  width: 100%;

  color: var(--white);
  margin-top: 5rem;

  background-color: var(--black);
}

.footerContent {
  width: 100%;
  max-width: 1440px;

  padding: 3rem 4rem;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leftContent > h1 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 500;

  margin-bottom: 1.5rem;
}

.leftContent ul {
  display: flex;
}

.leftContent > ul > li {
  margin-right: 1.5rem;
}

.rightContent {
  text-align: end;
}

.contact {
  margin-bottom: 1.5rem;
}

.contact > a {
  margin: 0 0.3rem;
}

.rightContent > p {
  font-family: "alata", sans-serif;
  font-weight: 300;
  color: var(--darkGray);
}
